#!/usr/bin/env python
# -*- coding: utf-8 -*-

server="https://matrix.org"
username="voice2text"
password="XXXXXX"
# matrix device id for client - set any string like 'k4nctrsE'
device_id = "k41at4s5" 

# если списки пусты, то бот будет принимать приглашения от всех:
# если казаны и домены и пользователи, то если совпало хоть одно - то бот примет приглашение, если ни одно из указанных не совпало - то не примет.
# разрешить приглашать бота в комнаты только MATRIX-пользователям с указанных MATRIX-доменов (хоумсервера) - указать через запятую можно:
# if list empty - allow invite from all users. 
# if list not empty - allow invite if any equal
allow_domains=["matrix.org","example.net"]
# разрешить приглашать бота в комнаты только указанному пользователю MATRIX:
allow_users=["@user:domain.com"]

bot_command="!vs"

data_file="data.json"

log_path="voice2text.log"

debug=True

# yandex speach cloud API settings:
type_translate="yandex_long" # can be: "yandex_long", "yandex_short" 

#===== settings for short API (it need for long api also) ===========
# поссылке https://cloud.yandex.ru/docs/iam/operations/iam-token/create нажать "Получите OAuth-токен в сервисе Яндекс.OAuth. Для этого перейдите по ссылке"
oauth="XXXXXX"
# https://console.cloud.yandex.ru/cloud ID у default (возможно для этого придётся создать платный ресурс на https://console.cloud.yandex.ru/):
folder_id = "XXXXXX" # Идентификатор каталога

#==== settings for yandex-long api: ============
service_account_id="XXXXXX" # https://cloud.yandex.ru/docs/iam/operations/sa/get-id
service_account_key_id="XXXXXXXXX" # ID ресурса Key, который принадлежит сервисному аккаунту. https://cloud.yandex.ru/docs/iam/operations/sa/create-access-key ключ надо создавать как "Авторизованные ключи"
service_secret_key_path="private.pem" # закрытый ключ
