#!/usr/bin/env python
# -*- coding: utf-8 -*-

server="https://matrix.org"
username="voice2text"
password="XXXXXX"
# matrix device id for client - set any string like 'k4nctrsE'
device_id = "k41at4s5" 

bot_command="!vs"

data_file="data.json"

log_path="voice2text.log"

debug=True

# yandex speach cloud API settings:
# поссылке https://cloud.yandex.ru/docs/iam/operations/iam-token/create нажать "Получите OAuth-токен в сервисе Яндекс.OAuth. Для этого перейдите по ссылке"
oauth="XXXXXXk"
# https://console.cloud.yandex.ru/cloud ID у default (возможно для этого придётся создать платный ресурс на https://console.cloud.yandex.ru/):
folder_id = "XXXXXX" # Идентификатор каталога

