#!/usr/bin/env python
# -*- coding: utf-8 -*-

server="https://matrix.org"
username="voice2text"
password="XXXXXX"
# matrix device id for client - set any string like 'k4nctrsE'
device_id = "k41at4s5" 

bot_command="!vs"

data_file="data.json"

log_path="voice2text.log"

debug=True
